<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/deepa/Documents/Barkha new intellij/AutomationFrameworkPractice"><classes><class name="PageTestPackage.HomePageTest"><methods><include name="checklogo1"/><include name="clickloginbtn"/></methods></class><class name="PageTestPackage.LandingPageTest"><methods><include name="logouttest"/></methods></class><class name="PageTestPackage.LoginPageDDT"><methods><include name="loginddt"/></methods></class><class name="PageTestPackage.LoginPageTest"><methods><include name="verifylogoTest"/><include name="verifymailTest"/><include name="verifyfreestudentaccesTesT"/><include name="checkwblTest"/><include name="verifylogintitleTest"/><include name="loginTest"/></methods></class></classes></test></suite>